body {
  background: #292727;
  overflow-x: hidden;
  padding-bottom: 50px;
}

hr {
  height: 4px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}

h1 {
  text-transform: uppercase;
}

div,
section,
span,
ul,
li,
a,
header {
  box-sizing: border-box;
}

.sponsorsclass{
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: #3F3F44;
}


.home-content {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#home-content-headline {
  padding: 40vh 0vh 0vh 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 86px;
}

#home-content-tagline {
  padding: 0px 0px 250px 0px;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7931e;
  font-size: 25px;
}

.section-home {
  height: 50vmin;
}

.parallelogram {
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  transform: skew(-45deg);
  position: absolute;
  z-index: -9;
}

#one {
  width: 20px;
  height: 300px;
  animation: moveBar 15s linear infinite;
  -webkit-box-shadow: 100px 509px #f7931e, 20px 300px #f7931e,
    -120px 150px #f7931e;
  -moz-box-shadow: 100px 509px #f7931e, 20px 300px #f7931e, -120px 150px #f7931e;
  box-shadow: 100px 509px #f7931e, 20px 300px #f7931e, -120px 150px #f7931e;
}

#two {
  width: 10px;
  height: 300px;
  animation: moveBar 30s linear infinite;
  -webkit-box-shadow: 250px 450px #ff8c47, -50px 200px #ff8c47;
  -moz-box-shadow: 250px 450px #ff8c47, -50px 200px #ff8c47;
  box-shadow: 250px 450px #ff8c47, -50px 200px #ff8c47;
}

#three {
  width: 10px;
  height: 500px;
  animation: moveBar 20s linear infinite;
  -webkit-box-shadow: 70px 500px #808080, -100px 200px #808080;
  -moz-box-shadow: 70px 500px #808080, -100px 200px #808080;
  box-shadow: 70px 500px #808080, -100px 200px #808080;
}

@keyframes moveBar {
  100% {
    transform: skew(-40deg) translateY(-1000px);
  }
}

section {
  width: 100%;
}

#home {
  height: auto;
}

#timeline {
  background: #292727;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

#sponsors {
  height: auto;
  /* background-color: #808080; */
}

#prizes {
  padding: 5px 0 5px 0;
  height: auto;
  background-color: #292727;
}

#faq {
  height: auto;
  background-color: #191717;
  padding-bottom: 20px;
  padding-top: 20px;

}

#faq h1 {
  text-align: center;
  font-size: 72px;
  margin: 50px 0 0;
  color: #f7931e;
}

.headlocal{
  padding-bottom: 20px;
}

.faq-container {
  max-width: 60%;
  /* margin: 0 auto; */
  padding: 70px 0 20px;
  width: 100%;
  margin: 20px auto;
}

.acc h3 {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  position: relative;
}

.acc h3:after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.acc.active h3:after {
  content: "-";
}

.content {
  background-color: #f7931e;
  display: none;
}

.content-inner {
  padding: 15px;
}

.content-inner p {
  margin: 0;
  font-size: 20px;
  line-height: 1.5em;
}

.content * {
  margin-top: 0;
  line-height: 1.5;
}

.acc {
  border-bottom: 1px solid #fff;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  height: 100%;

}
#timeline{
  background-color: #292727;
}

.timeline ul {
  padding: 0px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #87A7B3;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #87A7B3 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #87A7B3;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #A6A9B6;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
  #home-content-headline {
    font-size: 50px;
  }
}

/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.timeline-class{
  font-size: 12px;
}

.timelinetime{
  font-size: 13px;
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

.social-icons{
  align-items: center;
  padding-right: 3%;
}

.contabale{
  margin-left: 100px;
  padding-left: 50px;
  margin-top: 20px;
  padding-bottom: 20px;

}

.container-socialcont{
  margin-left: 100px;
  align-items:center;
}

#contact {
  font-size: 26px;
  background: #292727;
  align-items: center;
  justify-content: space-around;
  height: auto;
  /* display: flex; */
}

/* @media (max-width: 2000px) {
  #contact{
    flex-direction: column;
    /* align-items: center; */
  } */

.nameslist{
  color: #fff;
}

#contact ul li {
  list-style: none;
  line-height: 4rem;
}

#contact span ul li:hover {
  color: #f7931e;
  cursor: pointer;
}

/* Social links*/

/* General Layout Setting End */
/* Social Icons Animation (FontAwesome Lib) */
/* Social Icons Orignal Color */

.social-icons .social-icons-item {
  display: inline-block;
  margin: 15px;
  border: 1px solid #ffff;
}

.social-icons .social-icons-item:hover {
  border: 1px solid #f7931e;
  background: #292727;
}

.social-icons-item .fa {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 0.5em;
  color: #fff;
}

/* Footer */

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px 0 2px 0;
  background-color: #3F3F44;
  text-align: center;
  margin: 0;
  line-height: 30px;
}

.footer p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.descrip {
  background-color: #191717;
  width: 100%;
  padding: 1% 5% 1% 5%;
  margin-top: 8%;
  margin-bottom: 5%;
  border-radius: 10px;
  color: #ccc;
  font-size: 25px;
}
.descrip:hover {
  background-color: #000000;
  color:#f7931e ;
  /* border-style: solid; */
  border-color: #292727;
}




/* swipper */
.post-body {
  width:100%;  
  background-color: #1e1e26;
  border-radius: 10px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;

}

#post{
  width: 100%;
  background-color: #555;
  display: block;
  justify-content: center;
  align-items: center;
}
#post ul{
  list-style: none;

}
#post a{
  text-decoration: none;
}
.post-img{
  border-radius: 10px;
}
.post-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.post-details p {
  width: 90%;
  color: #fff;
  padding-bottom: 10px;

  font-size: 10px;
}
.post-body .post-headline{
  color: #FF0;
  font-size: large;
  padding: 0;
  margin: 10px;
}


.swiper {
    width: 25%;
    
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .swiper {
    width:50%; }
  }



  /* contact edit */
  #contact {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  #contact div{
    display: block;
    width: 50%;
    align-content: center;
    justify-content: center;
  }
  #contact div ul{
    justify-content:center
  }

  #contact div h1{
  font-size: 69px; color: #f7931e;
  }
  @media (max-width: 1000px) {
    #contact {

      display: block;
      justify-content: space-between;
      align-items: center;
    }
    #contact div{
      width: 100%;
    }

    #contact div h1{
      font-size: 40px;
    }
    .social-icon-new ul, .social-contact-new ul{
      font-size: 15px;
      
    }
  }
  .social-icon-new ul, .social-contact-new ul{
    
    margin: 0;
    padding: 0;
  }
  .social-icon-new ul li, .social-contact-new ul li{
    margin: 0;
    padding: 0;
  }